<div id="newsletter" data-nosnippet>
    <h4>Join the Email List</h4>
    <p>
        I mostly write about front-end development, static sites and the IndieWeb.
        I'll send these once every two months (tops), and you can unsubscribe at any time. 
        No corporate bullshit here.
    </p>
    {% include "signupform.njk" %}
</div>