<div class="newsletter" id="newsletter" data-nosnippet>
    <h4>Join the Email List</h4>
    <div>
        <p>
            Join the email list to be notified when new posts are published!
            I mostly write about front-end development, personal website experiments.
        </p>
        <p>
            I'll send emails once a month (tops), and you can unsubscribe at any time. 
            No corporate bullshit here.
        </p>
    </div>
    <div>
        {% include "signupform.njk" %}
        <p>I don't know. Let me see a <a href="https://us18.campaign-archive.com/home/?u=64781452976687d0f4f2ea370&id=772b9208b5" title="View previous campaigns">previous issue</a> first&hellip;</p>
    </div>
</div>