<form 
    action="https://dev.us18.list-manage.com/subscribe/post?u=64781452976687d0f4f2ea370&amp;id=772b9208b5" 
    method="POST" 
    class="form form--signup" 
>
    <p class="form__field">
	    <label for="mce-FNAME" class="form__label">First Name (optional)</label>
	    <input type="text" class="form__textinput" value="" name="FNAME" id="mce-FNAME">
    </p>

	<p class="form__field">
        <label for="mce-EMAIL" class="form__label">Email Address</label>
        <input type="email" class="form__textinput" value="" name="EMAIL" id="mce-EMAIL" required>
    </p>

    <div class="sr-only" aria-hidden="true">
        <input type="text" name="b_64781452976687d0f4f2ea370_772b9208b5" tabindex="-1" value="">
    </div>

    <input type="submit" class="btn btn--primary" value="Subscribe" name="subscribe">
</form>

<p>Let me see a <a href="https://us18.campaign-archive.com/home/?u=64781452976687d0f4f2ea370&id=772b9208b5" title="View previous campaigns">previous issue</a> first&hellip;</p>