---
layout: base
tags: nav
navtitle: Home
navorder: 1
permalink: index.html
---

<div class="hero fade-in">
    <div class="hero__inner">
        <h1 class="hero__title">Computer Engineer</h1>
        <p class="hero__pretitle"><a href="/about/">Hello, my name is Salih</a></p>

        <div class="hero__content">
            <p>
                I also write about the web on my <a href="/blog" class="hero__link">Blog</a> 
                and on <a href="{{ author.social.twitter.url }}" class="hero__link hero__link--twitter">Twitter</a>.
            </p>
        </div>
    </div>
</div>
